h1 {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}

p {
  text-align: center;
  font-size: 25px;
  color: white;
}

button {
  height: 45px;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.main-container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.twitter-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
