h1 {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  color: white;
}

p {
  text-align: center;
  font-size: 25px;
  color: white;
}

a {
  font-size: 14px;
  color: white;
}

.main-container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-text {
  font-size: 14px;
}

.button {
  height: 45px;
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.link-button {
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 17px;
  text-decoration: none;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loader {
  align-self: center;
  width: 20px;
  height: 20px;
  margin: 10px;
  border: 4px solid #a200d6;
  border-top: 4px solid  #ff6fdf;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-on {
  visibility: visible;
}

.loader-off {
  visibility: hidden;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.twitter-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
